<div class="title"></div>

<div class="container" ng-controller="catCtrl" ng-repeat="script in scripts track by $index" ng-class="{{colors()}}">
  <div class="row">
    <div class="col s12">
      <div class="card">
        <div class="card-image">
          <div class='questionBox1 box'></div>
          <span class="card-title">{{script.question}}</span>
        </div>
      </div>
    </div>
  </div>
    <div class="row">

    <div class="col s4">
      <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <div class='answerBox1'ng-click="selected(answer)"></div>
          <span class="card-title">{{script.answer1}}</span>
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">
          <a class="btn-floating red" ng-click="getSelection(script)"><i class="material-icons">android</i></a>
        </div>
        <div class="card-action">
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Answer<i class="material-icons right">code</i></span>
          <p>{{script.show1}}</p>
        </div>
      </div>
    </div>
    <div class="col s4">
      <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <div class='answerBox1'ng-click="selected(answer)"></div>
          <span class="card-title">{{script.answer2}}</span>
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">
          <a class="btn-floating red" ng-click="getSelection(script)"><i class="material-icons">android</i></a>
        </div>
        <div class="card-action">
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Answer<i class="material-icons right">code</i></span>
          <p>{{script.show2}}</p>
        </div>
      </div>
    </div>
    <div class="col s4">
      <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <div class='answerBox1'ng-click="selected(answer)"></div>
          <span class="card-title">{{script.answer3}}</span>
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">
          <a class="btn-floating red" ng-click="getSelection(script)"><i class="material-icons">android</i></a>
        </div>
        <div class="card-action">
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Answer<i class="material-icons right">code</i></span>
          <p>{{script.show3}}</p>
        </div>
      </div>
    </div>
