
<div id="controlContainer" ng-controller="customCtrl">
<!-- <div id="controlContainer" ng-controller="customCtrl" ng-show="sumbitCustom"> -->

<div id="container1">
  <div class="directions">Add your own 5 questions and answers!</div>
  <div class="directions">Make sure you only have ONE correct answer!</div>

    <form class="col s12">
      <div class="input-field col s3">
        <input  id="question" type="text" class="validate" ng-model="newScript.question">
        <label for="Question">Question 1</label>
      </div>
      <div class="row">
        <div class="input-field col s4">
          <input id="correctAnswer" type="text" class="validate" ng-model="newScript.answer1">
          <label for="CorrectAnswer">Answer 1</label>
        </div>

        <div class="input-field col s4">
          <input id="Question" type="text" class="validate" ng-model="newScript.answer2">
          <label for="incorrect">Answer 2</label>
        </div>
        <div class="input-field col s4">
          <input id="Question" type="text" class="validate" ng-model="newScript.answer3">
          <label for="incorrect">Answer 3</label>
        </div>
      </div>
        <div class="row">
          <div class="input-field col s4">
            <input id="correctAnswer" type="text" class="validate" ng-model="newScript.show1">
            <label for="CorrectAnswer">Is correct?</label>
          </div>
          <div class="input-field col s4">
            <input id="Question" type="text" class="validate" ng-model="newScript.show2">
            <label for="incorrect">Is correct?</label>
          </div>
          <div class="input-field col s4">
            <input id="Question" type="text" class="validate" ng-model="newScript.show3">
            <label for="incorrect">Is correct?</label>
        </div>
        </div>
        <a class="waves-effect waves-light btn" type="submit" ng-click="createScript()">Submit</a>
      </form>
      </div>

<div id="container2" ng-hide="submitCustom" ng-repeat="newScript in newScripts track by $index">
<div class="title"></div>

<div class="container">
  <div class="row">
    <div class="col s12">
      <div class="card">
        <div class="card-image">
          <div class='questionBox1'></div>
          <span class="card-title">{{newScript.question}} </span>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s4">
      <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <div class='answerBox1'ng-click="selected(answer)"></div>
            <span class="card-title">{{newScript.answer1}}</span>
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">
          <a class="btn-floating red" ng-click="getSelection(newScript)"><i class="material-icons">android</i></a>
        </div>
        <div class="card-action">
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Answer<i class="material-icons right">code</i></span>
          <p>{{newScript.show1}}</p>
        </div>
      </div>
    </div>
    <div class="col s4">
      <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <div class='answerBox1'ng-click="selected(answer)"></div>
          <span class="card-title">{{newScript.answer2}}</span>
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">
          <a class="btn-floating red" ng-click="getSelection(newScript)"><i class="material-icons">android</i></a>
        </div>
        <div class="card-action">
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Answer<i class="material-icons right">code</i></span>
          <p>{{newScript.show2}}</p>
        </div>
      </div>
    </div>
    <div class="col s4">
      <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <div class='answerBox1'ng-click="selected(answer)"></div>
          <span class="card-title">{{newScript.answer3}}</span>
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">
          <a class="btn-floating red" ng-click="getSelection(newScript)"><i class="material-icons">android</i></a>
        </div>
        <div class="card-action">
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Answer<i class="material-icons right">code</i></span>
          <p>{{newScript.show3}}</p>
        </div>
      </div>
    </div>
      <a class="btn-floating yellow darken-1" ng-click='deleteScript($index)'><i class="material-icons red">delete</i><a>
      <a class="btn-floating yellow darken-1" ng-click='editScript($index)'><i class="material-icons">mode_edit</i></a>
</div>
</div>
</div>
</div>
