

<div class="container" ng-controller="customCtrl">
  <div class="row">
    <div class="offset-s1 col s10 offset-s1">
      <div class="card">
        <div class="card-image">
          <div class='questionBox1'></div>
          <span class="card-title">Card Title</span>
        </div>
      </div>
    </div>
  </div>
    <div class="row">

    <div class="col s4">
      <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <div class='answerBox1'></div>
          <span class="card-title">Answer One</span>
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">
          <a class="btn-floating red"><i class="material-icons">android</i></a>
        </div>
        <div class="card-action">
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">code</i></span>
          <p>Here is some more information about this product that is only revealed once clicked on.</p>
        </div>
      </div>
    </div>
    <div class="col s4">
      <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <div class='answerBox1'></div>
          <span class="card-title">Answer One</span>
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">
          <a class="btn-floating red"><i class="material-icons">android</i></a>
        </div>
        <div class="card-action">
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">code</i></span>
          <p>Here is some more information about this product that is only revealed once clicked on.</p>
        </div>
      </div>
    </div>
    <div class="col s4">
      <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <div class='answerBox1'></div>
          <span class="card-title">Answer One</span>
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">
          <a class="btn-floating red"><i class="material-icons">android</i></a>
        </div>
        <div class="card-action">
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">code</i></span>
          <p>Here is some more information about this product that is only revealed once clicked on.</p>
        </div>
      </div>
    </div>




  <div class="row">
    <div class="offset-s1 col s10 offset-s1">
      <div class="card">
        <div class="card-image">
          <div class='questionBox2'></div>
          <span class="card-title">Card Title</span>
        </div>
      </div>
    </div>
  </div>
    <div class="row">

      <div class="col s4">
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <div class='answerBox2'></div>
            <span class="card-title">Answer One</span>
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">
            <a class="btn-floating red"><i class="material-icons">android</i></a>
          </div>
          <div class="card-action">
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">code</i></span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
          </div>
        </div>
      </div>
      <div class="col s4">
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <div class='answerBox2'></div>
            <span class="card-title">Answer One</span>
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">
            <a class="btn-floating red"><i class="material-icons">android</i></a>
          </div>
          <div class="card-action">
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">code</i></span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
          </div>
        </div>
      </div>
      <div class="col s4">
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <div class='answerBox2'></div>
            <span class="card-title">Answer One</span>
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">
            <a class="btn-floating red"><i class="material-icons">android</i></a>
          </div>
          <div class="card-action">
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">code</i></span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
          </div>
        </div>
      </div>

  </div>


    <div class="row">
      <div class="offset-s1 col s10 offset-s1">
        <div class="card">
          <div class="card-image">
            <div class='questionBox3'></div>
            <span class="card-title">Card Title</span>
          </div>
        </div>
      </div>
    </div>
      <div class="row">

        <div class="col s4">
          <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <div class='answerBox3'></div>
              <span class="card-title">Answer One</span>
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">
              <a class="btn-floating red"><i class="material-icons">android</i></a>
            </div>
            <div class="card-action">
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">code</i></span>
              <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
          </div>
        </div>
        <div class="col s4">
          <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <div class='answerBox3'></div>
              <span class="card-title">Answer One</span>
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">
              <a class="btn-floating red"><i class="material-icons">android</i></a>
            </div>
            <div class="card-action">
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">code</i></span>
              <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
          </div>
        </div>
        <div class="col s4">
          <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <div class='answerBox3'></div>
              <span class="card-title">Answer One</span>
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">
              <a class="btn-floating red"><i class="material-icons">android</i></a>
            </div>
            <div class="card-action">
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">code</i></span>
              <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
          </div>
        </div>

    </div>


      <div class="row">
        <div class="offset-s1 col s10 offset-s1">
          <div class="card">
            <div class="card-image">
              <div class='questionBox4'></div>
              <span class="card-title">Card Title</span>
            </div>
          </div>
        </div>
      </div>
        <div class="row">

          <div class="col s4">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                  <div class='answerBox4'></div>
                <span class="card-title">Answer One</span>
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">
                <a class="btn-floating red"><i class="material-icons">android</i></a>
              </div>
              <div class="card-action">
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">code</i></span>
                <p>Here is some more information about this product that is only revealed once clicked on.</p>
              </div>
            </div>
          </div>
          <div class="col s4">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                  <div class='answerBox4'></div>
                <span class="card-title">Answer One</span>
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">
                <a class="btn-floating red"><i class="material-icons">android</i></a>
              </div>
              <div class="card-action">
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">code</i></span>
                <p>Here is some more information about this product that is only revealed once clicked on.</p>
              </div>
            </div>
          </div>
          <div class="col s4">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                  <div class='answerBox4'></div>
                <span class="card-title">Answer One</span>
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">
                <a class="btn-floating red"><i class="material-icons">android</i></a>
              </div>
              <div class="card-action">
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">code</i></span>
                <p>Here is some more information about this product that is only revealed once clicked on.</p>
              </div>
            </div>
          </div>
      </div>


        <div class="row">
          <div class="offset-s1 col s10 offset-s1">
            <div class="card">
              <div class="card-image">
                <div class='questionBox5'></div>
                <span class="card-title">Card Title</span>
              </div>
            </div>
          </div>
        </div>
          <div class="row">
            <div class="col s4">
              <div class="card">
                  <div class="card-image waves-effect waves-block waves-light">
                    <div class='answerBox5'></div>
                  <span class="card-title">Answer One</span>
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">
                  <a class="btn-floating red"><i class="material-icons">android</i></a>
                </div>
                <div class="card-action">
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">code</i></span>
                  <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
              </div>
            </div>
            <div class="col s4">
              <div class="card">
                  <div class="card-image waves-effect waves-block waves-light">
                    <div class='answerBox5'></div>
                  <span class="card-title">Answer One</span>
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">
                  <a class="btn-floating red"><i class="material-icons">android</i></a>
                </div>
                <div class="card-action">
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">code</i></span>
                  <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
              </div>
            </div>
            <div class="col s4">
              <div class="card">
                  <div class="card-image waves-effect waves-block waves-light">
                    <div class='answerBox5'></div>
                  <span class="card-title">Answer One</span>
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">
                  <a class="btn-floating red"><i class="material-icons">android</i></a>
                </div>
                <div class="card-action">
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">code</i></span>
                  <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
              </div>
            </div>
        </div>
