<div class="container" ng-controller="homeCtrl">
    <div class="row">
      <div class="col s6">
        <div class="card">
          <div class="card-image">
            <img class='photo' src="img/ada.jpg">
            <span class="card-title"></span>
          </div>
          <div class="card-content">
            <p>Herstory</p>
          </div>
          <div class="card-action">
            <a data-id="category" ng-href="#/category/herstory">Play the Herstory Category<i class="material-icons">play_arrow</i></a>
          </div>
        </div>
      </div>
      <div class="col s6">
        <div class="card">
          <div class="card-image">
            <img class='photo' src="img/comp.jpg">
            <span class="card-title"></span>
          </div>
          <div class="card-content">
            <p>Know Your Leaders</p>
          </div>
          <div class="card-action">
          <a ng-href="#/category/leaders">Play the Leader Category<i class="material-icons">play_arrow</i></a>
          </div>
        </div>
      </div>
    <div class="row">
      <div class="col s6">
        <div class="card">
          <div class="card-image">
            <img class='photo' src="img/full.jpg">
            <span class="card-title"></span>
          </div>
          <div class="card-content">
            <p>Know Your Stack</p>
          </div>
          <div class="card-action">
            <a ng-href="#/category/stack">Play the Stack Category<i class="material-icons">play_arrow</i></a>
          </div>
        </div>
      </div>
      <div class="col s6">
        <div class="card">
          <div class="card-image">
            <img class='photo' src="img/ladies.jpg">
            <span class="card-title"></span>
          </div>
          <div class="card-content">
            <p>Create Your Own Category</p>
          </div>
          <div class="card-action">
            <a ng-href="#/newScript/custom">Create Your Own Category<i class="material-icons">play_arrow</i></a>
          </div>
        </div>
      </div>
    </div>
</div>
