

  <div class="container" ng-controller="homeCtrl">
    <div class="row">
      <div class="col s5">
        <div class="card">
          <div class="card-image">
            <img class='photo' src="img/ada.jpg">
            <span class="card-title">Card Title</span>
          </div>
          <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively.</p>
          </div>
          <div class="card-action">
            <a data-id="category" ng-href="#/category/herstory">Play the Herstory Category<i class="material-icons">play_arrow</i></a>
          </div>
        </div>
      </div>
      <div class="col s5">
        <div class="card">
          <div class="card-image">
            <img class='photo' src="img/ada.jpg">
            <span class="card-title">Card Title</span>
          </div>
          <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively.</p>
          </div>
          <div class="card-action">
          <a ng-href="#/category/leaders">Play the Leader Category<i class="material-icons">play_arrow</i></a>
          </div>
        </div>
      </div>
    <div class="row">
      <div class="col s5">
        <div class="card">
          <div class="card-image">
            <img class='photo' src="img/ada.jpg">
            <span class="card-title">Card Title</span>
          </div>
          <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively.</p>
          </div>
          <div class="card-action">
            <a ng-href="#/category/stack">Play the Stack Category<i class="material-icons">play_arrow</i></a>
          </div>
        </div>
      </div>
      <div class="col s5">
        <div class="card">
          <div class="card-image">
            <img class='photo' src="img/ada.jpg">
            <span class="card-title">Card Title</span>
          </div>
          <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively.</p>
          </div>
          <div class="card-action">
            <a ng-href="#/category/custom">Create Your Own Category<i class="material-icons">play_arrow</i></a>
          </div>
        </div>
      </div>
    </div>
</div>
